<div class="container p-5">
    <div class="row" id="description_me_content">
        <div class="col-md-5 mx-auto">
            <div class="card">
                <div class="card-header text-center">
                    <h3>
                        ¡INGRESA A TU CUENTA!
                    </h3>
                </div>
                <div class="card-body">
                    <form action="/signin" method="post" class="needs-validation" novalidate>
                        <div class="form-group">
                            <input type="email" name="emailUser" id="emailUser" placeholder="Correo Electronico"
                                class="form-control" required>
                            <div class="valid-feedback">
                                Correo Valido.
                            </div>
                            <div class="invalid-feedback">
                                Solo valido correo electronico.
                            </div>
                        </div>
                        <br>
                        <div class="form-group">
                            <input type="password" name="passwordUser" id="passwordUser" placeholder="Contraseña"
                                class="form-control" required>
                            <div class="valid-feedback">
                                Contraseña Valida.
                            </div>
                            <div class="invalid-feedback">
                                Completar este campo, entre 4 y 16 caracteres. Ingresar solo letras, numeros o guiones.
                            </div>
                        </div>
                        <br>
                        <div class="form-group text-center">
                            <button class="btn btn-success btn-block">
                                INGRESAR
                            </button>
                        </div>
                    </form>
                </div>
            </div>
        </div>
    </div>
</div>
<script src="/js/validation.js"></script>