<div class="container p-5">
    <div class="row" id="description_me_content">
        <div class="col-md-6 text-center" >
            <img src="/img/me.jpeg" alt="Andre Salcedo Junco" id="me">
            <strong class="d-block text-white">Andre Salcedo Junco</strong>
        </div>
        <div class="col-md-6 pt-2" >
            
            <p id="description_me" class="text-white ">
                Estudiante de ingeniería de sistemas del séptimo ciclo de la universidad nacional de ingeniería.
                Comprometido y siempre dispuesto a aprender. Entusiasta de la programación de aplicaciones web.
                <i class="fa-solid fa-computer text-success"></i>
            </p>
            <div class="text-center">
                <a href="https://www.uni.edu.pe/" target="_blank"><img src="/img/uni.png" alt="Universidad Nacional de Ingeniería - UNI" id="uni" class="d-inline"></a>
            </div>
        </div>
    </div>
</div>