<div class="container p-5">
    <table class="table table-dark table-striped">
        <thead class="text-center">
            <tr>
                <th scope="col">Pregunta</th>
                <th scope="col">Respuesta</th>
            </tr>
        </thead>
        <tbody>
            <tr>
                <td>¿Qué es EsdrupLinks?</td>
                <td>
                    Es una aplicación web que tiene como objetivo poder juntar los links de los usuarios en un solo
                    lugar. Ejemplo: links de clases de zoom, favoritos, etc.
                </td>

            </tr>
            <tr>
                <td>¿Por qué se hizó EsdrupLinks?</td>
                <td>Generada para practicar distintas tecnologías del desarrollo web, además por su propio uso.</td>
            </tr>
            <tr>
                <td>¿Qué tecnologías se usó?</td>
                <td>Servidor construido en node.js con express además de otras librerías, motor de vistas handlebars, bootstrap y base de datos mysql.</td>
            </tr>
        </tbody>
    </table>
</div>