<div class="container" id="description_me_content">
    <h2 class="text-center text-white pt-4">
        Bienvenido a EsdrupLinks
    </h2>
    <p class="text-center text-white">"Ordenamos tus links de manera fácil y cómoda"</p>
    <div class="row pt-4">
        <div class="col-6 ">
            <a href="/signin" class="btn btn-success d-block mx-auto">Ingresar</a>
        </div>
        <div class="col-6">
            <a href="/signup" class="btn btn-primary d-block text-white">Empieza ya!</a>
        </div>
    </div>
    <div class="container p-4">
        <div class="col-md-3 mx-auto">
            <div class="card">
                <div class="card text-center" id="card-list">
                    <div class="card-body">
                        <a href="/" target="_blank" class="card_title_link">
                            <h4 class="card-title text-success">
                                Tarjeta Link Ejemplo
                            </h4>
                        </a>
                        <p>
                            Fabulosa descripción tarjeta Link
                        </p>
                        <div>
                            <a href="#" class="btn btn-info text-white" id="update-link">Editar</a>
                            <a href="#" class="btn btn-danger" id="delete-link">Eliminar</a>
                        </div>
                        <p>
                            Creado Justo Ahora
                        </p>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>

<footer>
    
</footer>