<footer class="p-3 mt-5">
    <div class="container text-center">
        <div class="row">
            <div class="col-md-4">
                <a href="/"><img src="/img/EsdrupLogoMain3.png" alt="Esdrup - Andre Salcedo Junco" id="esdrupLogo"></a>
                <strong class="text-white">EsdrupLinks</strong>
                <p class="text-white fs-xxs" id="phrase">"Ordenamos tus links de manera fácil y cómoda"</p>
            </div>
            
            <div class="col-md-4 text-white">
                <strong class="d-block pb-2">Conóceme</strong>
                <a href="/aboutme" class="text-decoration-none text-success pt-2">Sobre mí</a>
                <div class="d-block pt-2">
                    <a href="https://www.facebook.com/andre.salcedo.7" target="_blank"><i class="fa-brands fa-facebook  text-success"></i></a>
                    <a href="https://www.instagram.com/andresalcedojunco/" target="_blank"><i class="fa-brands fa-instagram text-success"></i></a>
                    <a href="https://twitter.com/Esdrup"><i class="fa-brands fa-twitter   text-success"></i></a>
                    <a href="https://www.linkedin.com/in/andresalcedojunco/" target="_blank"><i class="fa-brands fa-linkedin  text-success"></i></a>
                    <a href="https://github.com/Esdrup" target="_blank"><i class="fa-brands fa-github    text-success"></i></a>
                </div>
            </div>

            <div class="col-md-4 text-white">
                <strong class="d-block pb-2">Ayuda</strong>
                <a href="/faqs" class="text-decoration-none text-success">FAQ's</a>
            </div>
        </div>
    </div>
    <div class="text-center pt-4" id="endfooter">
        <strong class=" mt-2" id="cprt"> EsdrupLinks @ 2022</strong>
    </div>
</footer>