<div class="container">
    <div class="row pt-4">
        <div class="col-md-8">
            <div class="card">
                <div class="card-header">
                    Amigo X
                </div>
                <div class="card-body">
                    Lorem ipsum dolor sit amet consectetur adipisicing elit. Vitae autem officiis at. Similique dolor
                    enim cupiditate perferendis itaque vitae inventore doloremque dolores, dolore, nostrum voluptas ut!
                    Saepe voluptas nulla aliquam!
                </div>
            </div>
        </div>
        <div class="col-md-4">
            <div class="card">
                <div class="card-header">
                    Enviar Solicitud de Amistad
                </div>
                <div class="card-body">
                    <form action="#" method="post">
                        <div class="form-group pb-2">
                            <input type="text" placeholder="Código de Amigo" class="form-control">
                        </div>
                        <div class="form-group text-center">
                            <button class="btn btn-success">Enviar</button>
                        </div>
                    </form>
                </div>
            </div>
            <br>
            <div class="card">
                <div class="card-header">
                    <strong>Amigos</strong>
                </div>
                <div class="card-body" id="cardbody-friends">
                    <div class="d-block" id="bloque-friend">
                        <img src="https://res.cloudinary.com/esdruplinks/image/upload/v1663319548/default_kbkb7z.jpg"
                            id="imagefriend">
                        <strong>Name User</strong>
                        <button class="btn btn-info"><i class="fa-solid fa-message text-white"></i></button>
                        <button class="btn btn-danger"><i class="fa-solid fa-xmark text-white"></i></button>
                    </div>
                    <div class="d-block" id="bloque-friend">
                        <img src="https://res.cloudinary.com/esdruplinks/image/upload/v1663319548/default_kbkb7z.jpg"
                            id="imagefriend">
                        <strong>Name User</strong>
                        <button class="btn btn-info"><i class="fa-solid fa-message text-white"></i></button>
                        <button class="btn btn-danger"><i class="fa-solid fa-xmark text-white"></i></button>
                    </div>
                    <div class="d-block" id="bloque-friend">
                        <img src="https://res.cloudinary.com/esdruplinks/image/upload/v1663319548/default_kbkb7z.jpg"
                            id="imagefriend">
                        <strong>Name User</strong>
                        <button class="btn btn-info"><i class="fa-solid fa-message text-white"></i></button>
                        <button class="btn btn-danger"><i class="fa-solid fa-xmark text-white"></i></button>
                    </div>
                    <div class="d-block" id="bloque-friend">
                        <img src="https://res.cloudinary.com/esdruplinks/image/upload/v1663319548/default_kbkb7z.jpg"
                            id="imagefriend">
                        <strong>Name User</strong>
                        <button class="btn btn-info"><i class="fa-solid fa-message text-white"></i></button>
                        <button class="btn btn-danger"><i class="fa-solid fa-xmark text-white"></i></button>
                    </div>
                    <div class="d-block" id="bloque-friend">
                        <img src="https://res.cloudinary.com/esdruplinks/image/upload/v1663319548/default_kbkb7z.jpg"
                            id="imagefriend">
                        <strong>Name User</strong>
                        <button class="btn btn-info"><i class="fa-solid fa-message text-white"></i></button>
                        <button class="btn btn-danger"><i class="fa-solid fa-xmark text-white"></i></button>
                    </div>
                    <div class="d-block" id="bloque-friend">
                        <img src="https://res.cloudinary.com/esdruplinks/image/upload/v1663319548/default_kbkb7z.jpg"
                            id="imagefriend">
                        <strong>Name User</strong>
                        <button class="btn btn-info"><i class="fa-solid fa-message text-white"></i></button>
                        <button class="btn btn-danger"><i class="fa-solid fa-xmark text-white"></i></button>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
