<div class="container pt-5">
    <div class="row">
        <div class="col-md-6 mx-auto">
            <div class="card">
                <div class="card-header">
                    <h5 class="card-title text-center">Confirmación de Eliminación</h5>
                </div>
                <div class="card-body">
                    <p>¿Esta seguro que desea eliminar el curso {{data.nameCourse}}?</p>
                </div>
                <div class="card-footer text-center">
                    <a href="/course/delete/{{data.idCourse}}" class="btn btn-danger">Eliminar</a>
                    <a href="/uni" class="btn btn-dark">Cancelar</a>
                </div>
            </div>
        </div>
    </div>
</div>